/* FONT FAMILIES
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Muli', sans-serif;
font-family: 'Cabin', sans-serif;
*/

/* COLORS */
.purple-bg {
    background-color: #3B142A;
} 

.purple-text {
    color: #3B142A;
}

.gray-bg {
    background-color: #4A444A;
} 

.gray-text {
    color: #4A444A;
}

.green-bg {
    background-color: #70937C;
} 

.green-text {
    color:  #70937C;
}

.cream-bg {
    background-color: #EBCB99;
}

.cream-text {
    color: #EBCB99;
}

.pink-bg { 
    background-color: #D22B39;
}

.pink-text {
    color: #D22B39;
}

.white-text {
    color: white;
}

.white-bg {
    background-color: white;
}


/* */

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

header, main, footer {
    align-self: auto;
}

header, footer{
    flex: 0;
    padding: .7em;
}

main {
    display: flex;
    flex: 1;
}

main #img-mapamundi {
    width: 100%;
}

.center {
    text-align: center;
}

.right {
    float: right;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/* ********* HEADER ********* */
header > h2 {
    font-family: 'Cabin', sans-serif;
    letter-spacing: 15px;
    font-size: 1.5em;
    margin: 0;
}

header > h4 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.2em;
    letter-spacing: 10px;
    margin: 0;
}

/* ********* MAIN ********* */
main > .fixed-action-btn ul {
    left: 10px;
    text-align: left;
}

/* ********* FOOTER ********* */
footer > p {
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 10px;
    margin: 0;
}

/* ********* MODALS ********* */

.modal-shadow {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom right, rgba(132, 61, 150, .5), rgba(48, 114, 140, .5));
    z-index: 100;
    top: 0;
    position: absolute;
    flex-direction: column;
    /*align-items: center;*/
    align-items: stretch;
    align-content: center;
    padding: 5% 8.33%;
    display: none;
}

.modal {
    box-shadow: 9px 9px 16px 0px rgba(46, 44, 122, 0.77);
    box-sizing: border-box;
    border-radius: 20px;
    padding: 2em;
    min-height: 50vh;
    /*height: 550px;
    max-width: 750px;*/
    width: 100%;
    position: relative;
}

.modal .modal-header {
    padding: 1em;
}

.modal .modal-header > h4 {
    width: 100%;
    margin: 0;
    padding: .3em;
    font-family: 'Muli', sans-serif;
    font-size: 2em;
}

.modal .modal-content {
    box-sizing: border-box;
    flex-direction: column;
    padding: 5%;
}

.modal-content .row > i {
    font-size: 3em;
}

.modal-content .row a > i {
    font-size: 3em;
}

.modal-shadow .modal-content .row {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    height: auto;
    margin-bottom: 15px;
}

.modal > button.close {
    width: 4%;
    margin-left: 5px;
    background-color: transparent;
    font-size: 2em;
    padding: 0;
    border: 0;
    cursor: pointer;
}

/*#btn-sections-mobile {
    display: none;
}*/

/* Modal Projects */
#modal-Projects .modal-content .row {
    margin-bottom: 0;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    overflow-y: scroll;
    height: 40vh;
    padding: 0;
}

#modal-Projects .modal-content .row > .divs-projects {
    height: 40vh;
    width: 45%;
    padding: .5em;
    align-self: auto;
    display: flex;
    flex-direction: column;
}

#modal-Projects .modal-content .row .divs-projects > img {
    height: 30vh;
    width: 100%;
    flex: 1;
}

#modal-Projects .modal-content .row .divs-projects > img:hover {
    height: auto;
    width: auto;
    z-index: 1000;
    position: absolute;
}

#modal-About-Me .modal-content .row .divs-projects > p {
    font-family: 'Muli', sans-serif;
    font-size: 1em;
    letter-spacing: 5px;
    margin: 0;
    text-align: justify;
    padding: 16px;
    width: 100%;
}

#modal-Projects .modal-content .row .divs-projects > p {
    font-family: 'Muli', sans-serif;
    font-size: 1em;
    letter-spacing: 5px;
    margin: 0;
    padding: 6px;
    font-weight: bolder;
    flex: 0;
}

#content-Projects {
    padding: 32px;
}

#modal-Projects #content-Projects .row .divs-projects .hover-links-projects {
    display: block;
    justify-content: space-around;
    padding-top: 8px;
    flex: 0;
}

#modal-Projects #content-Projects .row .divs-projects .hover-links-projects > a {
    font-family: 'Cabin', sans-serif;
    font-size: 1em;
    letter-spacing: 2px;
    padding: 0 6px;
    color: #D22B39;
    justify-content: space-around;
    text-decoration: none;
}

.svg {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
}

.svg svg {
    height: auto;
    justify-content: center;
}

.svg svg image {
    min-width: 412px;
    width: 768px;
    max-width: 1321px;
}

/* MEDIAS QUERIES */

@media screen and (max-width:1000px) {
    header > h2, h4 {
        color: red;
    }

    header > h2 {
        font-family: 'Cabin', sans-serif;
        letter-spacing: 8px;
        font-size: 1.4em;
        margin-bottom: 5px;
        margin-top: 0;
    }
    
    header > h4 {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 1em;
        letter-spacing: 5px;
        margin: 0;
    }
    
    .modal .modal-header > h4 {
        width: 100%;
        padding: 0;
        font-size: 1.5em;
    }
    
    .modal .modal-content {
        box-sizing: border-box;
        flex-direction: row;
        padding: 5%;
    }

    .modal-content .row > i {
        font-size: 2em;
    }
    
    .modal-content .row a > i{
        font-size: 2em;
    }

    #modal-About-Me .modal-content .row > p {
        font-size: .7em;
        letter-spacing: 1px;
    }

    #modal-Projects #content-Projects {
        padding: 0;
    }

    #modal-Projects #content-Projects .row  {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #modal-Projects #content-Projects .row > .divs-projects {
        width: 50%;
        align-items: center;
    }

    #modal-Projects #content-Projects .row .divs-projects > p {
        padding: 6px;
    }

    #modal-Projects .modal-content .row .divs-projects > img:hover {
        height: 60vh;
        width: 90%;
        z-index: 1000;
        position: relative;
    }

    footer > p {
        font-family: 'Open Sans Condensed', sans-serif;
        letter-spacing: 5px;
        margin: 0;
    }
}

@media screen and (max-width: 425px) {
    header > h2, h4 {
        color: gold;
    }

    header > h2 {
        font-family: 'Cabin', sans-serif;
        letter-spacing: 10px;
        font-size: 1.2em;
        margin-bottom: 5px;
        margin-top: 0;
    }
    
    header > h4 {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 1em;
        letter-spacing: 5px;
        margin: 0;
    }

    #btn-sections-mobile {
        position: absolute;
        height: 10vh;
        min-width: 100%;
        box-sizing: border-box;
        display: inline-flex;
        justify-content: center;
        padding: .5em;
    }
     
    #btn-sections-mobile a > i {
        padding: .5em;
        border-radius: 50%;
        cursor: pointer;
    }
     
    #btn-sections-mobile ul {
         padding-left: 8px;
         display: flex;
         margin: 0;
    }
      
    #btn-sections-mobile ul li {
         list-style: none;
         margin-right: 8px;
    }
     
    #btn-sections-mobile ul li a > i {
        padding: .5em;
        border-radius: 50%;
        font-size: 1em;
        cursor: pointer;
    }

    #modal-About-Me .modal-content .row > p {
        font-size: .5em;
        letter-spacing: 1px;
    }

    .modal-content .row > i {
        font-size: 1.5em;
    }

    .modal-content .row a > i {
        font-size: 1.5em;
        cursor: pointer;
    }

    #modal-Projects #content-Projects .row {
        padding: 0;
        overflow-y: scroll;
        flex-direction: row;
    }

    #modal-Projects #content-Projects .row > .divs-projects {
        width: 100%;
        align-items: stretch;
    }

    footer > p {
        font-family: 'Open Sans Condensed', sans-serif;
        letter-spacing: 5px;
        margin: 0;
    }
}