/* FONT FAMILIES
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Muli', sans-serif;
font-family: 'Cabin', sans-serif;
*/

/* COLORS */
.purple-bg {
    background-color: #3B142A;
} 

.purple-text {
    color: #3B142A;
}

.gray-bg {
    background-color: #4A444A;
} 

.gray-text {
    color: #4A444A;
}

.green-bg {
    background-color: #70937C;
} 

.green-text {
    color:  #70937C;
}

.cream-bg {
    background-color: #EBCB99;
}

.cream-text {
    color: #EBCB99;
}

.pink-bg { 
    background-color: #D22B39;
}

.pink-text {
    color: #D22B39;
}

.white-text {
    color: white;
}

.white-bg {
    background-color: white;
}


/* */

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

header{
    height: 5em;
}

main{
    display: flex;
    flex:auto;
}

footer{
    height: 1.5em;
}

.center {
    text-align: center;
}

.right {
    float: right;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/* ********* HEADER ********* */
header, footer {
    background-color: #3B142A;
    color: white;
    padding: .7em;
    text-align: center;
    position: relative;
}

header > h2 {
    font-family: 'Cabin', sans-serif;
    letter-spacing: 15px;
    font-size: 2em;
    margin: 10px 0;
    /*font-family: 'Muli', sans-serif;
    font-family: 'Cabin', sans-serif;*/
}

header > h4 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.2em;
    letter-spacing: 10px;
    margin: 0;
}

/* ********* MAIN ********* */
main > div.fixed-action-btn ul {
    left: 10px;
    text-align: left;
}

/* ********* FOOTER ********* */
footer > p {
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 10px;
    margin: 0;
}


/* ********* MOBILE ********* */
main div#btn-sections-mobile {
    position: absolute;
    top: 22%;
    left: 1em;
    right: 0;
    bottom: 0;
    height: 350px;
}

div#btn-sections-mobile a > i {
    padding: 1em;
    border-radius: 50%;
    cursor: pointer;
}

div#btn-sections-mobile ul li a > i {
    padding: auto;
    border-radius: 50%;
    margin-top: .3em;
    width: 1.4em;
    font-size: 1em;
    cursor: pointer;
}

div#btn-sections-mobile ul li{
    list-style: none;
}

/* ********* MODALS ********* */

.modal-shadow {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom right, rgba(132, 61, 150, .5), rgba(48, 114, 140, .5));
    z-index: 100;
    top: 0;
    position: absolute;
    display: none;
}

div.modal {
    box-shadow: 9px 9px 16px 0px rgba(46, 44, 122, 0.77);
    box-sizing: border-box;
    border-radius: 20px;
    padding: 2em;
    height: 80vh;
    width: 60%;
    margin: auto;
    margin-top: 5%;
}

div.modal div.modal-header {
    padding: 1em;
}

div.modal div.modal-header > h4 {
    width: 93%;
    text-align: center;
    margin: 15px 0;
    font-family: 'Muli', sans-serif;
    font-size: 2em;
}

div.modal div.modal-content {
    height: 50vh;
    box-sizing: border-box;
    flex-direction: row;
    border: 1px solid red;
    padding: 5% 0;
}

div.modal-content div.row > i {
    font-size: 3em;
    /*margin: 0 .5em;*/
}

div.modal-shadow div.modal-content div.row {
    /*display: flex;*/
    padding: 15px;
    height: auto;
    border: 1px solid blue;
}

div.modal > button.close {
    width: 4%;
    margin-left: 5px;
    background-color: transparent;
    font-size: 2em;
    padding: 0;
    border: 0;
    cursor: pointer;
}

/* Modal Projects */
div#modal-Projects div.modal-content div.row > div.divs-projects {
    height: 3em;
    width: 49%;
    border: 1px solid black;
    display: flex;
}

div#modal-About-Me div.modal-content div.row > p {
    font-family: 'Muli', sans-serif;
    font-size: 1em;
    letter-spacing: 5px;
    margin: 0;
    text-align: justify;
}